<div class="recipe">
  <h1>{{recipe}}</h1>
  <div class="toggle">
    <img src="{{photo_url}}" alt="{{recipe}}">
    <div class="ingredients"><h2>Ingredients</h2>{{ingredients}}</div>
    <div class="directions"><h2>Directions</h2>{{directions}}</div>
  </div>
</div>

